.archive-risbe__list{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.archive-risbe__item{
    border: 2px solid $blue;
    border-radius: 10px;
    padding: 30px;
    font-size: 25px;
    font-weight: bold;
    font-family: $font-primary;
    color: $blue;
}