.archive-error-codes{
    .accordion .card{
        margin-bottom: 10px;
        border-bottom: 1px solid rgba(0,0,0,.125);
    }
    .card {
        button{
            position: relative;
            .fa-plus{
                display: none;
            }
            &.collapsed{
                .fa-minus{
                    display: none;
                }
                .fa-plus{
                    display: block;
                }
            }
            .card-tools{
                position: absolute;
                right: 15px;
                top: 50%;
                transform: translate(0, -50%);
            }
        }        

    }
}


.filter{
    display: block;
    padding-top: 10px;
}
.filter__title{
    color: #255398;
    font-size: 25px;
    font-family: "PT Sans",sans-serif;
}
.filter__list{
    display: grid;
    grid-template-columns: 1fr;
}
.filter__item{
    margin: 5px 0;
    line-height: 1.2;    
}

.single-most-common-errors{
    .item{
        border: 1px solid #2d3544;
        h2{
            color: #255398;
            font-size: 30px;
            font-weight: 700;
            font-family: "PT Sans",sans-serif;
        }
    }
}