video::-internal-media-controls-download-button { 
    display:none; 
}  
video::-webkit-media-controls-overlay-enclosure{
    pointer-events: none;
}
video::-webkit-media-controls-panel { 
    width: calc(100% + 30px); /* Adjust as needed */ 
} 

.btn{
    color: white;
    background: $blue;
    padding: 8px 30px;
    font-weight: 600;
    &:hover{
        border: 1px solid $blue;
        background: white;
        color: $blue;
    }
    &-light{
        border: 1px solid $blue;
        background: white;
        color: $blue;
        &:hover{
            color: white;
            background: $blue;
        }
    }
}
.contact-form{
    grid-template-columns: repeat(auto-fit,minmax(290px,1fr));
    grid-gap: 10px 20px;
    grid-auto-rows: auto;
    -webkit-box-align: start;
    align-items: start;
    display: grid;
}
.contact-form__item{
 &.big{
    grid-column: 1/span 2;
 }
}

.logo{
    max-width: 50%;
}
.back__btn{
    color: rgb(114, 114, 114);
    background: #EDEDED;
    padding: 8px 30px;
    font-weight: 600;
    display: inline-block;
    
    &:hover{
        border: 1px solid $blue;
        background: white;
        color: $blue;
        text-decoration: none;
    }
}

footer {
    background: #2d3544;
    width: 100%;
    color: #fff;
    padding: 3rem 0;
}
.footer h3 {
    color: #9bd2f5;
    text-transform: uppercase;
}
.footer #footer-contact {
    list-style: none;
    padding: 0;
}
.footer #footer-contact li {
    position: relative;
    padding: .33333rem 0;
    display: flex;
    align-items: center;
}
.footer #footer-contact li i {
    font-size: 1.2rem;
    min-width: 35px;
}

.search_s{
    padding: 20px 0 50px;
}

.understrap-read-more-link{
    margin-top: 10px;
}

.pagination{
    padding-top: 20px;
}

.my-logout{
    padding: 30px 0;
    
}