.navbar{
    background-image: url('/wp-content/themes/imp-internet/img/header-background.jpg');
    background-repeat: no-repeat;
}
.right{
    display: flex;
}

.account{
    a{
        display: block;
        text-align: center;
        color: $blue;
    }
    svg{
        height: 37px;
        width: 37px;
        fill: $blue;
    }
}

.home-it{
    margin-right: 20px;
    a{
        display: block;
        text-align: center;
    }
    img{
        height: 37px;
        width: 37px;
    }
}

.language-swicher{
    
}