
.service__item{
    border: 2px solid $blue;
    background: white;
    color: $blue;
    border-radius: 10px;
    text-align: center;
    svg{
        height: 100px;
        width: 100px;
       
    }
    .service__item-text{
        text-align: center;
        display: block;
    }
    a{
        padding: 8px 30px;
        text-align: center;
        font-size: 20px;
        font-weight: bold;
        display: block;
    }
}
.service__list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 80px 0;
    @include media-breakpoint-down(md){
        grid-template-columns: repeat(1, 1fr);
    }
}

.frontpage__search{
    padding: 200px 0;
    background: url('/wp-content/themes/imp-internet/img/banner-secondary-bg.jpg');
    background-size: cover;
    background-position: center;
}
.frontpage__search-warp{
    padding: 0 150px;
}