.preaptive-check{
    padding: 30px 0 60px;
    .page-title{
        padding-bottom: 30px;
    }
}

.preaptive-check__item{
    display: none;

    &-first{
        display: block;
    }
    &.active{
        display: block;
    }
    &.done{    
        padding: 8px 0 5px;
        border-bottom: 1px solid #f7f2f2;    
        .preaptive-check__answer{
            display: none;
        }
        .preaptive-check__edit{
            display: inline-block;
        }
    }
}

.preaptive-check__question{
    font-size: 30px;
    font-family: "PT Sans",sans-serif;
    color: $blue;
    display: inline-block;
}
.preaptive-check__a{
    font-size: 25px;
    font-weight: 700;
    font-family: "PT Sans",sans-serif;
    color: $blue;
    padding-left: 30px;
    display: inline-block;
}

.preaptive-check_qa{
    display: block;
}

.preaptive-check__edit{
    display: none;
    float: right;
}

.preaptive-check__contact{
    padding-top: 60px;
    display: none;
    &.active{
        display: block;
    }
    .wpcf7{
      margin: 0 !important;
    }
}