.single-most-common-errors{
    .main-photo{
        width: 100%;
        height: 0;
        padding-top: 100%;
        position: relative;
        img{
            position: absolute;
            height: 100%;
            width: 100%;
            left: 0;
            top: 0;
            object-fit: cover;
        }
    }
    .pumps__list{
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        a{
            border: 1px solid $gray;
            border-radius: 5px;
            padding: 5px 10px;
            color: $blue;
            &:hover{
                border: 1px solid $blue;
                text-decoration: none;
            }

        }
    }
    .errors__list{
        padding-top: 40px;
    }
    .errors__item{
        padding-top: 40px;
    }
    .galery__list{
        padding-top: 20px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
    }
    .galery__item{
        width: 100%;
        height: 0;
        padding-top: 100%;
        position: relative;
        img{
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            object-fit: cover;
        }
    }
}