// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from src/sass/bootstrap4/_variables.scss, paste it here and edit the value.


$color-primary: #255398; // Thats a sample how you could change a BootStrap variable.
$color-second:#dcdcdc;
$gray: #dcdcdc;
$blue: #255398;
$font-primary: 'PT Sans', sans-serif;
