.page-title{
    color: $blue;
    font-size: 35px;
    font-weight: bold;
    font-family: $font-primary;
}
h3{
    color: $blue;
    font-size: 25px;
    font-weight: bold;
    font-family: $font-primary;
}